@import "~@app/colors.scss";
.selectedCommunity {
  color: $accent-color;
  background: $primary-color-dark;
}

.communityItem {
  cursor: pointer;
  &:hover {
    background: white;
    color: $primary-color-dark;
  }
}