@import "~@app/colors.scss";
.communityItem {
  cursor: pointer;
  color: rgba(white, 0.7);
  &:hover {
    color: white;
  }
  &.selectedCommunity {
    color: white;
    background: rgba(white, 0.2);
  }
}

.welcome {
  color: rgba(white, 0.7);
}