.jobList {
  flex: none;
}

.job,
.jobTitle,
.jobDescription {
  border-color: #cbcbcb;
}

.jobTitle,
.jobDescription {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.jobDescription {
  flex: 1;
  overflow: auto;
}

.job {
  //width: 30vw;
  height: 30vw;
  min-height: 300px;
  min-width: 200px;
}
