@import "~@app/colors.scss";
.content {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.editIcon {
  transform: translateX(-100%);
}

.deleteIcon {
  transform: translateX(-200%);
}

.editIcon,
.deleteIcon {
  fill: $primary-color;
  cursor: pointer;
  &:hover {
    fill: lighten($primary-color, 10%);
  }
  &:active {
    top: 1px;
  }
}

.communityItem {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: lighten(black, 90%);
  }
}

.messages {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: auto;
}

.form {
  display: flex;
}

.flex1 {
  flex: 1;
}

.loader {
  transform: translate3d(-50%, -100px, 0px);
  left: 50%;
  background: $accent-color;
  color: white;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 100;
}

@keyframes slideDown {
  0% {
    transform: translate3d(-50%, -100%, 0px);
  }
  50% {
    transform: translate3d(-50%, 8%, 0px);
  }
  65% {
    transform: translate3d(-50%, -4%, 0px);
  }
  80% {
    transform: translate3d(-50%, 4%, 0px);
  }
  95% {
    transform: translate3d(-50%, -2%, 0px);
  }
  100% {
    transform: translate3d(-50%, 0%, 0px);
  }
}

.loaderVisible {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  opacity: 1;
  transform: translate3d(-50%, 0px, 0px);
}

$MARGIN_TOP: 5px;
.flexEnd {
  align-self: flex-end;
  text-align: end;
}

.message {
  background: $accent-color;
  color: $primary-color-text;
}

.jobMessage {
  align-self: stretch;
  fill: white;
  background: $accent-color-2;
}

.myMessage {
  background: $primary-color-dark;
}

.input {
  flex: 1;
}

.submitButton {
  cursor: pointer;
}