@import "~@app/colors.scss";
.content {
  padding: 10px;
  display: flex;
  flex-flow: column;
  flex: 1;
}

.communityItem {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: lighten(black, 90%);
  }
}

.messages {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: auto;
}

.form {
  display: flex;
}

.flex1 {
  flex: 1;
}

$MARGIN_TOP: 5px;
.message {
  padding: 7px;
  margin-top: $MARGIN_TOP;
  background: $accent-color;
  color: $primary-color-text;
}

.jobMessage {
  align-self: stretch;
  fill: white;
  background: $accent-color-2;
}

.apply {
  background: $accent-color;
  cursor: pointer;
  &:active {
    position: relative;
    top: 1px;
  }
}

.myMessage {
  align-self: flex-end;
  background: $primary-color-dark;
}

.input {
  flex: 1;
}

.submitButton {
  cursor: pointer;
}