@import "~@app/colors.scss";
.main {
  flex: 1 0 auto;
}

.textLayer {
  color: rgba(white, 0.9);
  background-color: rgba(204, 71, 0, 0.73); //rgba(255, 255, 255, 0.69);
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.item {
  margin-left: 5px;
  margin-right: 5px;
}
