@import "~@app/colors.scss";
.statesPopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  color: $primary-text-color;
}

.stateItem {
  padding: 10px;
  max-width: 500px;
  cursor: pointer;
  width: 100%;
}

.stateImageWrapper:hover {
  cursor: pointer;

  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14),
    0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  transform: scale3d(1.01, 1.01, 1);
}

.overlay {
  background: rgba(204, 71, 0, 0.73);
  color: white;
}
