@import "~@app/colors.scss";

.titleLine {
  transition: 0.3s;
  color: white;
  flex: none;
}

.business {
  overflow: hidden;
  min-height: 200px;
  position: relative;

  &.transitioning {
    transition: 0.5s;
  }

  &.transitioning,
  &.step-two,
  &.step-one,
  &.finalState {
    position: fixed;
    border-radius: 0px;
    background: white;
    margin: 0px;
    z-index: 100;
    .img {
      max-width: 300px;
    }
  }
  &.step-one {
  }
  &.step-two {
  }

  &.finalState {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
  }
}

.textLayer {
  color: rgba(white, 0.9);
  background-color: rgba(204, 71, 0, 0.73); //rgba(255, 255, 255, 0.69);
}

.locationIcon {
  fill: white;
}

.price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  margin-left: 5px;
  margin-right: 5px;
}

.business {
  position: relative;
  background: rgba($pale-gray, 0.5);
  border-radius: 0.5rem;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transform: scale3d(1, 1, 1);
  &:hover:not(.viewing) {
    .viewIcon {
      opacity: 0;
    }
    .title {
      text-decoration: underline;
    }
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14),
      0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    //box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14),
    //0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    transform: scale3d(1.01, 1.01, 1);
  }
}

.closeIcon {
  fill: white;
  cursor: pointer;
}

.content {
}
.field {
  label {
    color: $text-gray;
  }
}
.contentImage {
  max-width: 100%;
}
