@import '~@app/colors.scss';
.button {
  outline: none;
  border: 1px solid rgba($primary-color-dark, 0.8);
  transition: all 0.2s;
  color: $primary-color;
  &:focus {
    outline: none;
    box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.2);
    border: 1px solid $accent-color;
  }
  &:not(.disabled):focus {
    color: $accent-color;
  }
  &:not(.disabled):active {
    position: relative;
    top: 1px;
  }
  &:not(.disabled) {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
  &.disabled {
    border: 1px solid $secondary-text-color;
    color: $secondary-text-color;
    &:focus {
      color: $secondary-text-color; //$primary-color;
    }
  }
}