@import "~@app/colors.scss";
.pagination {
  align-self: flex-start;
  flex-shrink: 0;
  background: $pale-gray;
  overflow: hidden;
}

.pageBlock {
  border: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  background: transparent;
  fill: $gray;
  color: $gray;
  &:focus {
    outline: none;
    background: $accent-color;
  }
  &.disabled {
    opacity: 0.3;
  }
  &:not(.disabled):hover {
    background: $accent-color;
    fill: rgba(white, 0.7);
    color: rgba(white, 0.7);
  }
}

.navButton,
.page {
  &:not(.disabled) {
    cursor: pointer;
  }
}

.currentPage {
  color: white;
  fill: white;
  background: $accent-color;
  &:focus {
    fill: white;
    background: $accent-color;
  }
}
