@import "~@app/colors.scss";
.sidebar {
  color: inherit;
  background: $blue-dark; //$primary-color-dark;
  color: white;
  transition: opacity 0.4s;
}

.closed {
  opacity: 0;
  @media screen and (min-width: 30em) {
    opacity: 1;
  }
}

.opened {
  opacity: 1;
}

.chatroomSelect {
  flex: 1 0 auto;
  background: $blue-dark;
}

.header {
  background: $blue-primary;
  flex: none;
  fill: white;
  color: white;
}

.headerItem {
  cursor: pointer;
}

.circleIcon {
  border-radius: 50%;
  border: 2px solid white;
}
