@import "~@app/colors.scss";
.dashboard {
  overflow: auto;
  display: block;
}

.headLine {
  //border-bottom: 1px solid $accent-color;
}

.box {
  overflow: hidden;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 30vw;
  min-height: 300px;
  min-width: 300px;
  cursor: pointer;
  &,
  &:hover {
    text-decoration: none;
  }
}

.boxTitle {
  &,
  &:hover {
    color: rgba(white, 0.9);
  }
  cursor: pointer;
}

.textLayer {
  color: rgba(white, 0.9);
  background-color: rgba(204, 71, 0, 0.73); //rgba(255, 255, 255, 0.69);
}

.jobTitle {
  font-weight: 500;
}

.jobDescription {
  font-weight: 300;
}

.communityItem {
  padding: 10px;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}