@import "~@app/colors.scss";
.container {
  background: $primary-color;
  cursor: pointer;
}

.postAJob {
  display: inline-block;
  transition: background 0.2s;
  &:hover {
    background: $accent-color;
  }
}

.menuButton {
  fill: white;
  &:active {
    fill: $primary-color;
    background: $primary-color-light;
  }
}