@import "~@app/colors.scss";
.postAJob {
  background: $primary-color;
  color: white;
  padding: 12px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: $accent-color;
  }
}