@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
:global {
  body,
  #root {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
  }
}
