@import "~@app/colors.scss";
.separator {
}

.separatorLine {
  height: 1px;
  background: $pale-gray;
  top: 50%;
}

.separatorContentWrapper {
  background: white;
}

.separatorContent {
  background: $pale-gray;
  color: $gray;
  z-index: 1;
}
