@import "~@app/colors.scss";
.centerContainer {
  will-change: transform;
  backface-visibility: hidden;
  transition: transform 0.35s ease;
  height: 100vh;
  transform: translate3d(0px, 0px, 0px);
}

.toggled {
  transform: translate3d(75%, 0px, 0px);
}

.menuButton {
  color: $accent-color;
  fill: $accent-color;
  svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  &:active {
    fill: $primary-color;
    background: $primary-color-light;
  }
}